{% extends "account/base.html" %}

{% load i18n %}

{% block formname %}{% trans "Signup" %}{% endblock %}
{% block formaction %}{% url 'account_signup' %}{% endblock %}
{% block formsubmit %}
    <div class="row">
        <div class="col-md-12" align="center">
            <button type="submit">{% trans "Sign Up" %} &raquo;</button>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}